.banner{
	background: url(../images/1.jpg) no-repeat;
	background-size: cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
 }
.phone{
	color: white;
	font-size: 20px;
}
.map{
	color: white;
	font-size: 20px;
	float: left;
	margin-right: 50px;
}